* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  /* margin-right: 10px;
  margin-left: 10px; */
  background-color:#fcfdfef8; 
}
header {
    background-image: url(./water.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-bottom: 50px;
  height: 350px;
  width: 1;
  justify-content: center;
  text-align: center;
  box-shadow: 0 1px 9px 0 rgba(5, 5, 5, 0.938);
}
h1 {
    color: #08181f;
    margin: 0;
  height: 350px;
  font-size: 48px;
  background: linear-gradient(180deg, rgba(1, 85, 116, 0), rgba(0, 0, 0, 0.257));
}
header p{
    height: 30px;
    color: #ffffff;
    background-color:#0a1f29f8;
    box-shadow: 0 1px 29px 0 rgba(5, 5, 5, .938);
 
}
.pray-care {
    margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  background-color: #000000;
  box-shadow: 0 1px 29px 0 rgba(5, 5, 5, .938);

  /* background: linear-gradient(100deg, rgba(4, 4, 4, 0.372), rgb(0, 0, 0)); */
}
#pray,
#care {
    display: flex;
  color: #ffffff;
  height: 70%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  
}
#pray{
    background-image: url(/pray-light.jpg);
    background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
}
#care{
    background-image: url(/serve.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 0;
}

.pray-care h2,
.lessons h2 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lessons h2 {
  font-size: 32px;
  font-weight: bold;
  color: #08181f;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#pray ul,
#care ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-content: center;
  list-style-type: none;
  line-height: 1.5;
  margin: 0 ;
  /* padding: 10px; */
  /* justify-content: center; */
  /* padding-left: 10px; */

}
.care2, .pray1{
    background-color: #00000080;
    padding: 10px;
    width: 100%;

 /* .care2 ul{
     padding: 0;
    /* padding-left: 10px; */

     /* padding-left: 20px; */
 } 
 .care1{
     width: 0;
 }

.lessons{
    margin-right: 10px;
  margin-left: 10px;
    margin-bottom: 50px;
}
#lesson-select {
  /* height: 450px; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}
button {
    border: 0;
  color: #ffffff;
  /* height: 60%; */
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(1, 162, 221, 0.932), rgba(1, 92, 119, 0.911));
  box-shadow: 1px 1px 9px 1px rgba(5, 5, 5, 0.938);
}
button:hover {
  background-color: #669eb396;
  transition-duration: 1s;
}

.verses {
  display: flex;
  flex-direction: column;
    margin: 0 auto;
  align-content: center;
  align-items: center;
  height: 80px;
  width: 80%;
  justify-content: space-evenly;
}

h2,
h3 {
  padding-left: 10px;
  padding-top: 20px;
  margin: 0;
}
#bottom-section{
    margin-right: 20px;
  margin-left: 20px;
    color: #ffffff;
    padding-bottom: 50px;
    padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 1px 29px 0 rgba(5, 5, 5, .938);
/* margin-bottom: 50px; */
background: linear-gradient(180deg, rgba(157, 221, 245, 0.899), rgba(0, 49, 75, 0.986));
}
#bible-verses {
color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
/* #bible-verses li {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
} */
/* #scripture {
  background-color: #fcfefd00;
} */
#questions-section,
#scripture {
  /* padding-left: 10px; */
  line-height: 1.5;
  margin: 0;
}
#questions-section {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  /* background: linear-gradient(180deg, rgba(1, 85, 116, 0.899), rgba(139, 191, 226, 0.986)); */
}
/* #results, #lessons{
      padding-left: 0;
  } */
#scripture,
#results {
  margin: 0;
  /* padding-right: 10px; */
  /* box-shadow: 0 1px 9px 0 rgba(5, 5, 5, 0.938); */
  /* background-color: #ffffff; */
}
#results {
    color: #ffffff;
    /* background: linear-gradient(360deg, rgba(1, 85, 116, 0.899), rgba(139, 191, 226, 0.986)); */

}
#results h2 {
  margin: 0;
}
p,
li {
  /* padding-bottom: 10px; */
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
/* form {
      margin: 0;
  } */
/* button{
      margin: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
  } */
#thumbnail {
  display: flex;
  width: 480;
  height: 380;
  /* flex-direction: column; */
  justify-content: center;
  margin: 0 auto;
  align-content: center;
}
.group-info {
    color: #0a1f29f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  background-color:#ffffff00;
}
.group {
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 1.2;
  /* flex-direction: row; */
  /* width: 100%; */
  /* margin: 0 auto; */
}
#group-title {
  text-align: center;
  line-height: 1.5;
  /* display: flex; */
  justify-content: space-around;
}
/* .group-news, .group-loc{
      width: 50%;
  } */
.hidden {
  display: none;
}
@media screen and (min-width: 550px) {
    .pray-care{
        display: flex;
        flex-direction: column;
    }
#pray, #care{
    display: flex;
    flex-direction: row;
}
.care1, .pray2{
    width: 100%;
    /* display: flex;
    align-content: center;
    justify-content: center; */
}
#pray ul, #care ul {
  height: 50%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  align-content: center;
  list-style-type: none;
  line-height: 1.5;
  margin: 0 ;
  padding: 10px; 
  justify-content: center; 
  /* padding-left: 10px; */

}
.care2, .pray1{
    background-color: #00000000;
    /* padding: 10px; */
    /* width: 100%; */
}
 .care2 ul{
     padding: 0;
    padding-left: 10px;

     padding-left: 20px;
 } 
}